<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="/update/<%=survey.id%>" method="post">
        <h2><%=survey.question%><br></h2>
        <% for(var i=0; i<survey.answers.length; i++){ %>
            <input type="radio" name="option" value="<%=i%>"><%=survey.answers[i]%><br>
        <% } %>
        <input type="text" name="newOption" placeholder="Add or replace">
        <button type="submit">Done</button>
    </form> 
</body>
</html>