p{
    border: 1px solid rgba(114, 135, 244, 0.443);
    background-color: rgba(114, 135, 244, 0.443);
    
}

.block{
    display: inline-block;
    background-color: grey;
    color: white;
}

.nav{
    left: 40%;
    position: relative;
}
a{
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:hover{
    border: 2px solid black;
}